#wrapper {
    width: 100%;
    height: 100vh;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.window__button {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    margin: 0 0 16px 0;
    background: var(--fg500);

    div {
        color: var(--mainFg);
        font-size: 12px;
        cursor: pointer;
        height: 28px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s linear;
    }

    div.close-button {
            font-size: 16px;
    }
}

.content {
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-bth-f:hover {
    color: var(--activeFg);
    background: var(--mainBg);
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.window__label {
    display: flex;
    flex-direction: column;
    gap: 6px;

    input {
        border: 0;
        outline: none;
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,0);
        font-family: var(--Nunito);
        background: var(--fg500);
        color: var(--mainFg);

        &:hover {
            border-color: var(--activeFg);
            background: transparent;
        }
    }
}

.form__bth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 26px 0 0 0;

    button {
        display: block;
        outline: none;
        font-size: 14px;
        border: 0;
        margin: 0 0 0 16px;
        border-radius: 6px;
        font-family: var(--Nunito);
        cursor: pointer;
    }

    .form__cancel {
        background: transparent;
        color: var(--black);
        padding: 8px 12px;
        transition: all 0.2s linear;
    }

    .form__save {
        background: var(--activeFg);
        color: var(--bthFg);
        padding: 8px 24px;
        transition: all 0.2s linear;
    }
}

.output {
    width: 100%;
    display: none;
}

.output-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.output-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.output-item {
    display: flex;
    align-items: center;
    gap: 8px;   

    span {
        color: white;
    }
}